[submodule "LimeSDR_gateware"]
	path = LimeSDR_gateware
	url = https://github.com/myriadrf/LimeSDR-USB_GW.git
	ignore = untracked
[submodule "src/DDS"]
	path = src/DDS
	url = https://github.com/spr02/DDS.git
	ignore = untracked
[submodule "src/CICDecimator"]
	path = src/CICDecimator
	url = https://github.com/spr02/CICDecimator.git
	ignore = untracked
